<div class="row">
    <div class="col-md-8">
      <div class="simpleDemo" ng-controller="c1" ng-init="init(<%= @project.id %>)">
      <ul class="row" dnd-list="lists"
        dnd-allowed-types="['item']">
          <li class="col-md-4" ng-repeat="item in lists" ng-init="ind = $index"
            dnd-type="'item'"
            dnd-draggable="item"
            dnd-moved="lists.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-class="{'selected': models.selected === item}"
            >
            <h1>{{item.name}}</h1>
            <ul style="min-height: 30px" dnd-list="item.cards"
                dnd-drop="dropCallback($index, item, lists, ind)"
                dnd-allowed-types="['card']"
                >
              <li ng-repeat="card in item.cards"
                dnd-type="'card'"
                dnd-draggable="card"
                dnd-effect-allowed="move"
                dnd-dragstart="dragStart(ind)"
                dnd-moved="item.cards.splice($index, 1)"
                  >
                <!--{{card.info.title}}
                {{card.info.creator}}-->
                {{card.title}}
              </li>
            </ul>
        </li>
      </ul>
      <div class="row" style="margin-top:20px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input type="text" id="title" placeholder="Titolo" />
          <input type="text" id="description" placeholder="Descrizione" />    
          <button ng-click='newCard()' class = "bg-dark" id="btns">Inserisci</button>
        </div>                
       <div class="col-md-4"></div>  
      </div>
    </div> 
  </div>
  <div class="col-md-4">
        <% if @isMember || (current_user == @project.teamleader) %>
        <h2>Project Menu</h2>
          <div class="list-group" style="margin-bottom: 40px; text-align: center;">
          <a href="/projects/<%= @project.id %>" class="list-group-item list-ground-dark">
            Summary
          </a>
          <a href="/projects/<%= @project.id %>/chat" class="list-group-item list-ground-active-dark active">Chat</a>
          <a href="#" class="list-group-item list-ground-dark ">User Stories</a>
        </div>
        <% else %>
        <button type="button" id="sendbtn" class="btn btn-primary button-dark" onclick="" style="margin-bottom: 20px;">Send Join Request</button>
        <% end %>

        <h2>Members</h2>
        <table class="table" style="margin-bottom: 30px;">
            <thead class="thead-dark">
                <tr>
                <th scope="col" style="text-align: center;">Role</th>
                <th scope="col" style="text-align: center;">User</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="text-align: center;">Team Leader</th>
                <td style="text-align: center;"><%= @project.teamleader.first_name %> <%= @project.teamleader.last_name %></td>
              </tr>
              <% @participants.each do |p| %>
                <tr>
                  <th scope="row" style="text-align: center;"><%= p.role %></th>
                  <td style="text-align: center;"><%= p.user.first_name %> <%= p.user.last_name %></td>
                </tr>
              <% end %>
            </tbody>
            </table>
        </table>
    </div>  
  </div>
</div>


