<div class="row center">
  <div class="col-md-12">
    <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %><p>
    <% end %>
  </div>
  <div class="col-md-12">
    <% provide(:title, "Log in") %>
    <h1>Log in</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="row">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="row">
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
     </div> 
  </div>
  <div class="col-md-3"></div>
</div>
