<p>
  <strong>Project:</strong>
  <%= @user_story.project.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user_story.creator.first_name %>
</p>

<p>
  <strong>Worker:</strong>
  <% if @user_story.worker == nil %>
  <% else%>
   <%= @user_story.worker.first_name %>
  <% end%>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_story.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @user_story.deadline %>
</p>