<div class="row center">
  <div class="col-md-12">
    <%= form_for @user do |form| %>
      <% if user.errors.any? %>
        <div class="message error">
          <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li"><p><%= message %></p></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>
  <div class="col-md-12">
      <h1>Sign up</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="row">
      
        <div class="col-md-12">
          <%= form.label :username %>
          <%= form.text_field :username, :placeholder => "mariorossi" %>
        </div>
        
        <div class="col-md-12">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="col-md-12">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation %>
        </div>

        <div class="col-md-12">
          <%= form.label :email %>
          <%= form.text_field :email, :placeholder => "mario.rossi@gmail.com" %>
        </div>

        <div class="col-md-12">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, :placeholder => "Mario" %>
        </div>

        <div class="col-md-12">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, :placeholder => "Rossi" %>
        </div>
        <!--
        <%= form.label :description %>
        <%= form.text_area :description %> 
        -->

        <%= form.submit "Create my account", class: "btn btn-primary" %>
    
      <% end %>
  </div>
  </div> 
  <div class="col-md-4"></div>
</div> 
