<div class="row center">
    <div class="col-md-12">
        <%= form_for Project.new do |f| %>
    </div>
    <% if user_signed_in? %> 
        <div class="col-md-4 "></div>
        <div class="col-md-4 ">
            <%= image_tag avatar_url(current_user, 100) %>
        </div>
        <div class="col-md-4 "></div>
        <div class="col-md-12 space_2">
            <h1>Welcome <%= current_user.email %></h1>
        </div>
    <% else %>
        <div class="col-md-12 space">
            <h1>Welcome user</h1>
        </div>
    <% end %>
    <div class="col-md-10 space" id="search_bar">
        <%= f.text_field :title, :placeholder => "keyword" %>
    </div>
    <div class="col-md-2 space">
        <%= f.submit "Search", class: "btn btn-primary btn-block" %>
    </div>
        <% end %>
</div>
<div class="row">
