<div class="row center">
    <!--
        <% if user_signed_in? %>
            <div class="col-md-4 "></div>
            <div class="col-md-4 ">
                <%= image_tag avatar_url(current_user, 100) %>
            </div>
            <div class="col-md-4 "></div>
            <div class="col-md-12 space_2">
                <h1>Welcome <%= current_user.first_name %> </h1>
            </div>
        <% else %>
            <div class="col-md-12 space">
                <h1>Welcome user</h1>
            </div>
        <% end %>
    -->
    <div class="space col-md-12">
        <div class="row">
            <%= form_tag("/projects", method: "get") do |f| %>
                <div class="space col-md-12" id="search_bar">
                    <div class="row">
                        <div class="col-md-10">
                            <%= text_field_tag :search, params['search'], placeholder: "Keyword" %>
                        </div>
                        <div class="col-md-2">
                            <%= submit_tag "Search", class: "bg-dark" %>
                        </div>
                    </div>    
                </div>
            <% end %>
        </div>
    </div>
</div>

