<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
		<div id="wrapper" style="overflow:scroll; height:400px; border: 1px solid black; border-radius: 10px;">
		<% @messages.each do |p| %>
			<% if p.user.id == @idUser %>
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<div class="float-right" style="background-color: #25D366; padding: 10px; border-radius: 10px; margin-bottom: 10px;">
						<p style="margin-bottom: 0px;"><%= p.body %></p>
						<p style="margin-bottom: 0px; font-size: 12px; text-align: right;" id="name"><%= p.user.first_name %> <%= p.user.last_name %></p>
					</div>
				</div>
			</div>
			<% else %>
				<div class="row">
					<div class="col-md-6">
					<div class="float-left" style="background-color: #bdc3c7; padding: 10px; border-radius: 10px; margin-bottom: 10px;">
						<p style="margin-bottom: 0px;"><%= p.body %></p>
						<p style="margin-bottom: 0px; font-size: 12px; text-align: left;"><%= p.user.first_name %> <%= p.user.last_name %></p>
					</div>
					</div>
					<div class="col-md-6"></div>
				</div>
			<% end %>
		<% end %>
		<div id="oldmessages"></div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-10">
				<input type="text" class="form-control" id="body" style="height: 2.8em">
			</div>
			<div class="col-md-2">
				<button type="button" id="sendbtn" class="btn btn-primary button-dark" onclick="send(<%= @idProject %>)">Send</button>
			</div>
		</div>
</div>

<div class="col-md-4">
        <% if @isMember || (current_user == @project.teamleader) %>
        <h2>Project Menu</h2>
          <div class="list-group" style="margin-bottom: 40px; text-align: center;">
          <a href="/projects/<%= @project.id %>" class="list-group-item list-ground-dark">
            Summary
          </a>
          <a href="/projects/<%= @project.id %>/chat" class="list-group-item list-ground-active-dark active">Chat</a>
          <a href="#" class="list-group-item list-ground-dark ">User Stories</a>
        </div>
        <% else %>
        <button type="button" id="sendbtn" class="btn btn-primary button-dark" onclick="" style="margin-bottom: 20px;">Send Join Request</button>
        <% end %>

        <h2>Members</h2>
        <table class="table" style="margin-bottom: 30px;">
            <thead class="thead-dark">
                <tr>
                <th scope="col" style="text-align: center;">Role</th>
                <th scope="col" style="text-align: center;">User</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="text-align: center;">Team Leader</th>
                <td style="text-align: center;"><%= @project.teamleader.first_name %> <%= @project.teamleader.last_name %></td>
              </tr>
              <% @participants.each do |p| %>
                <tr>
                  <th scope="row" style="text-align: center;"><%= p.role %></th>
                  <td style="text-align: center;"><%= p.user.first_name %> <%= p.user.last_name %></td>
                </tr>
              <% end %>
            </tbody>
            </table>
        </table>
    </div>

</div>
