<p id="notice"><%= notice %></p>

<p>
  <strong>Teamleader:</strong>
  <%= @project.teamleader %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Number of member:</strong>
  <%= @project.number_of_member %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
