<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "OpenProject", '#', id: "logo" %>
        <nav>
        <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Projects",   '#' %></li>
            <li><%= link_to "Profile",   '#' %></li>
            <li><%= link_to "Signup", 'users/new' %></li>
            <li><%= link_to "Login", '#' %></li>
        </ul>
        </nav>
    </div>
</header>