<header>
    <div class="row">
        <nav class="navbar navbar-expand-lg menu">
            <%= link_to 'OpenProject', home_path, id: "logo" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="menu-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav ml-auto">
                    <%= link_to 'home', home_path, class: "nav-item nav-link menu-item-active" %>
                    <%= link_to 'projects', '#', class: "nav-item nav-link menu-item" %>
                    <% if logged_in? %>
                        <%= link_to 'profile', '#', class: "nav-item nav-link menu-item" %>
                        <%= link_to 'logout', logout_path, class: "nav-item nav-link menu-item" %>
                    <% else %>
                        <%= link_to 'signup', signup_path, class: "nav-item nav-link menu-item" %>
                        <%= link_to 'login', login_path, class: "nav-item nav-link menu-item" %>
                    <% end %>
                </div>
            </div>
        </nav>
    </div>
</header>


