<!DOCTYPE html>
<html>
  <head>
    <title>OpenProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--css/scss-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--javascript-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row container">
      <%= yield %>
    </div>
  </body>
</html>
