<!DOCTYPE html>
<html>
  <head>
    <title>OpenProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>



  <body ng-app="angularOpenProject">
    <%= render 'layouts/header' %>
    <div class="container">
      <% if notice %>
        <%= content_tag :p, notice, :class => "alert alert-success" if notice.length > 0 %>
      <% end %>
      <% if alert %>
        <%= content_tag :p, alert, :class => "alert alert-danger" if alert.length > 0 %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
